/* Place custom css here. */
strong {
  background-color: #FACC5A;
  padding: 1.5px;
  font-weight: normal;
  color: black !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

#avatar {
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  margin-bottom: calc(var(--y-gap) + 1rem);
}

.avatar {
  background-image: url(https://static.pushyzheng.com/images/20221002180329.png);
  cursor: pointer;
  background-size: cover;
  background-position: 50%;
  border-radius: 9999px;
  width: 15rem;
  height: 15rem;
}

.post-content a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #CBF8DF;
  box-shadow: inset 0 -4px 0 #cbf8df;
  background: transparent;
  transition: background 150ms ease;
}

.post-content a:hover {
  background: #CBF8DF;
}

#tag-cloud-title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#tag-cloud a {
  margin: 1rem;
}

@media screen and (min-width: 770px) {
  #post-entry-list {
    padding: 0 8rem;
  }
}

@media screen and (max-width: 900px) {
  .post-entry-title {
    font-size: 2.5rem !important;
  }

  .post-content {
    font-size: 2.5rem;
  }
}
